        

        html , body{
            margin: 0;
            padding: 0;
        }

        html{
            background-image: url(img/hi.gif);
            background-size:cover;
            background-repeat:space;
            background-attachment: fixed;
            background-position-x: 50%;
            background-position-y: 60vh;
          
        }

.nav{
    /* border-bottom: 5px teal solid; */
    
   position: sticky;
  top: 0;
  width: 100%;
  
}

.nav {
  overflow: hidden;
  background-color: #333;
}

.nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1em serif;
  cursor: pointer;
}

.nav a:hover {
    background-color: #111;
            border-bottom: 5px solid goldenrod;
            text-decoration: none;
            color: goldenrod;
}

.nav a.active {
    background: teal;
}

.nav .icon {
  display: none;
}

.activeBtn{
    background: teal;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 40vw 30vmax auto;
    width: 100%;
   
    
}

.jumbo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    position: sticky;
  
    

    background-color: teal;
    grid-column-start: 1 ;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    position: sticky;
    top: -5;
    z-index: -1;

    
}


.Name{
    
   position: relative;
  
    margin: auto;
    font-size: 2.75vmax;
    z-index: 10;
    font-family: 'Carter One';
}
.Name h3{
    color: goldenrod;
    margin:auto;
}

.Name h1{
    margin: auto;
    margin-top: 10px;
    color: white;
}

.jumbo img{
    margin-left: auto;
    height: 100%;
    width: 100%;
}

.mask{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(2,91,92,1) 56%, rgba(0,124,125,0) 85%, rgba(0,124,125,0.03995101458552175) 100%);
}
.main{

    
  display: flex;
  flex-direction: column;

    background-color: rgb(235, 235, 235);
    grid-column-start: 1 ;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    box-shadow: rgba(0, 0, 0, 0.5) 0 1px 20px;
    margin-bottom: 2vmax;
font-size: 3vmax;
align-content: center;
justify-content: center;
text-align: center;
padding-bottom: 2vmax;
}

.main h2{
    color: teal;
    font-family: 'Carter One';
    width: 100%;
}
.main div{
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.about{
    display: flex;
    flex-wrap: wrap;
   
   background-color: #00b6bb;
   
    grid-column-start: 1 ;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;

   align-items: center;
   align-content: center;
   justify-content: center;
    
   height: auto;
    
}

.about p{
  
    font-size:2.5vmax;
  color: white;
  
  font-family: "Sansita Swashed";
}
.about img{
  
  width:45vw;


}

@media screen and (max-width: 718px ) {


    .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }

  .nav.responsive {position: relative;}
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }


    
    .about p{
  
  font-size:2.5vmax;
color: white;
text-align: center;
font-family: "Sansita Swashed";

}

.about img{
  
width: 80%;

}
.Name{
    
    position: relative;
   
     margin: auto;
     font-size: 2.0vmax;
     z-index: 10;
     font-family: 'Carter One';
 }


 .main{
    font-size: 3vmin;
 }
 .container{
    height: 100%;
    grid-template-rows: 40vw 55vmin auto;
   
   
    
}

}



.super{
    text-shadow: 0 0 5px #380808, 0 0 5px #b90707
}
mark{
    background-color:darkseagreen;
    color: goldenrod;
    font-style: oblique;
    text-shadow: 0 0 3px #380808, 0 0 5px #0000FF
}

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

